.btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover, &:focus {
		@include transition-timing-function(cubic-bezier(.6,4,.3,.8));
		@include animation (gelatine .5s 1);
	}

    @media (min-width: 992px) {
        width: 80px;
        height: 80px;
        font-size: 1.8rem;
    }

    &__input {
        display: block;
        text-align: center;
        padding: .8rem 2.5rem;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 1rem;
        letter-spacing: .5px;
        background: #074722;
        background: linear-gradient(-45deg, rgb(36, 34, 34) 0%, rgb(38, 100, 34) 25%, rgb(38, 100, 34) 51%, rgb(36, 34, 34) 100%);
        box-shadow: 0 0 20px #202020;

        &:hover, &:focus {
            @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
            @include animation (gelatine .5s 1);
        }
    }

    &__back {
        position: fixed;
        top: 10px;
        left: 10px;
        padding: .5rem 1rem;
        border-radius: 10px;
        background: rgba(0, 200, 0, 0.1);
        color: rgba($color: #fff, $alpha: .4);
        text-transform: uppercase;
        z-index: 10;
    }

    &__up {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: .5rem 1rem;
        border-radius: 10px;
        background: rgba(0, 200, 0, 0.1);
        color: rgba($color: #fff, $alpha: .4);
        text-transform: uppercase;
        z-index: 10;
    }
    
    &__nps {
        padding: 1rem;
        background-color: aqua;
    }

    &__avalia {
        &-1 {
            background-color: #F75549;
        }
        
        &-2 {
            background-color: #FF595C;
        }

        &-3 {
            background-color: #FF765D;
        }

        &-4 {
            background-color: #FAB45B;
        }

        &-5 {
            background-color: #FECA41;
        }

        &-6 {
            background-color: #EECD3A;
        }

        &-7 {
            background-color: #C5D12F;
        }

        &-8 {
            background-color: #96D22C;
        }

        &-9 {
            background-color: #53D421;
        }

        &-10 {
            background-color: #16BB1E;
        }
    }
}
