.nps {
    &__selection {
        text-align: center;
        margin-top: 3rem;
    }

    &__consulta {
        display: none;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    &__search {
        margin: 0 auto;
        width: 250px;
    }

    &__btn {
        width: 100%;
        margin: 0;
    }

    &__content {        
        margin-top: 2rem;
        display: grid;
        
        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;                      
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}