.page {
    min-height: 100vh;   
    color: #fff;    
	background: linear-gradient(-45deg, #000, #054b22, #000);
	background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    letter-spacing: .5px; 
}


