.table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;

    @media (max-width: 578px) {
        order: 2;
    }

    tr:hover {
        background-color: rgba($color: #fff, $alpha: .3);
    }
    
    &__line {
        padding: .8rem;
        border: 1px solid #ddd;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
