.table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    overflow-x: scroll;
    margin: 0 auto;

    @media (max-width: 578px) {
        order: 2;
    }

    @media (min-width: 1200px) {
        width: 600px;
    }

    tr:hover {
        background-color: rgba($color: #fff, $alpha: .3);
    }
    
    &__line {
        padding: .5rem;
        border: 1px solid #ddd;
        background-color: rgba($color: #000, $alpha: .1);
    }
}
