.text-red {
    color: red;
}

.text-size {
    font-size: 8vw;

    @media (min-width: 568px) {
        font-size: 4vw;
    }
}

.align-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.px-10 {   
    padding-left: 5%;
    padding-right: 5%;
}

.sucess {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #1FB257;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
}

.grid {
    display: grid;
}

.grid--gap {
    gap: 2rem;
}

.user {
    width: 310px;
    margin: 0 auto;
}

.logo {
    height: 100px;    
}

.texto {
    margin-top: 20vh;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
