* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style-type: none; }

button, a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

button:focus, li:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 none;
  outline: 0; }

img {
  width: 100%; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1); }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9); }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05); } }
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  25% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1); }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9); }
  75% {
    -webkit-transform: scale(0.95, 1.05);
            transform: scale(0.95, 1.05); } }
.btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold; }
  .btn:hover, .btn:focus {
    -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    -webkit-animation: gelatine 0.5s 1;
    animation: gelatine 0.5s 1; }
  @media (min-width: 992px) {
    .btn {
      width: 80px;
      height: 80px;
      font-size: 1.8rem; } }
  .btn__input {
    display: block;
    text-align: center;
    padding: .8rem 2.5rem;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    letter-spacing: .5px;
    background: #074722;
    background: linear-gradient(-45deg, #242222 0%, #266422 25%, #266422 51%, #242222 100%);
    -webkit-box-shadow: 0 0 20px #202020;
            box-shadow: 0 0 20px #202020; }
    .btn__input:hover, .btn__input:focus {
      -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
      transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
      -webkit-animation: gelatine 0.5s 1;
      animation: gelatine 0.5s 1; }
  .btn__back {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: .5rem 1rem;
    border-radius: 10px;
    background: rgba(0, 200, 0, 0.1);
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    z-index: 10; }
    .btn__back--home {
      position: fixed;
      cursor: pointer;
      border: none;
      top: 10px;
      left: 10px;
      border-radius: 5px;
      background: transparent;
      z-index: 10;
      width: 70px;
      height: 50px; }
  .btn__up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: .5rem 1rem;
    border-radius: 10px;
    background: rgba(0, 200, 0, 0.1);
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    z-index: 10; }
  .btn__nps {
    padding: 1rem;
    background-color: aqua; }
  .btn__avalia-1 {
    background-color: #F75549; }
  .btn__avalia-2 {
    background-color: #FF595C; }
  .btn__avalia-3 {
    background-color: #FF765D; }
  .btn__avalia-4 {
    background-color: #FAB45B; }
  .btn__avalia-5 {
    background-color: #FECA41; }
  .btn__avalia-6 {
    background-color: #EECD3A; }
  .btn__avalia-7 {
    background-color: #C5D12F; }
  .btn__avalia-8 {
    background-color: #96D22C; }
  .btn__avalia-9 {
    background-color: #53D421; }
  .btn__avalia-10 {
    background-color: #16BB1E; }

.input {
  width: 100%;
  margin: 1rem 0;
  padding: .8rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 1.1rem; }

.page {
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #124212, #0f700f, #124212, #0f700f, #124212, #0f700f);
  background-size: 500% 500%;
  -webkit-animation: gradient 15s infinite;
          animation: gradient 15s infinite;
  letter-spacing: .5px; }

.grafico {
  display: grid;
  gap: 1rem;
  grid-template-areas: "promo qt_promo grafico" "neut qt_neut grafico" "detra qt_detra grafico" "nps nps grafico"; }
  @media (max-width: 578px) {
    .grafico {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      position: static;
      margin-bottom: 5rem; } }
  .grafico__nps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 20px;
            column-gap: 20px;
    height: 70%;
    margin-bottom: 1rem; }
  .grafico__itens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .grafico__bar {
    background-color: #E7BA28;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .grafico__bar--bg-red {
      background-color: #F62119; }
    .grafico__bar--bg-green {
      background-color: #1FB257; }
  .grafico__nps-total {
    display: block;
    padding: .8rem 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #074722;
    background: linear-gradient(-45deg, #0FA7BC 0%, #157FBB 25%, #118CBD 51%, #144EBC 100%);
    -webkit-box-shadow: 0 0 20px #202020;
            box-shadow: 0 0 20px #202020; }
  .grafico__dados:nth-child(1) {
    grid-area: promo; }
  .grafico__dados:nth-child(2) {
    grid-area: neut; }
  .grafico__dados:nth-child(3) {
    grid-area: detra; }
  .grafico__dados:nth-child(4) {
    grid-area: qt_promo; }
  .grafico__dados:nth-child(5) {
    grid-area: qt_neut; }
  .grafico__dados:nth-child(6) {
    grid-area: qt_detra; }
  .grafico__dados:nth-child(7) {
    grid-area: nps; }
  .grafico__dados:nth-child(8) {
    display: none;
    grid-area: grafico;
    width: 100%;
    height: 100%; }
    @media (min-width: 768px) {
      .grafico__dados:nth-child(8) {
        display: block; } }
  .grafico__text {
    font-size: .8rem; }
  .grafico__box {
    text-align: center;
    height: 25px;
    position: relative; }
    .grafico__box--bg-detra {
      background-color: #F62119; }
    .grafico__box--bg-promo {
      background-color: #1FB257; }
    .grafico__box--bg-neutro {
      background-color: #E7BA28; }
  .grafico__circle {
    height: 160px;
    width: 160px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: green;
    border-radius: 50%; }
  .grafico__inside {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 100; }
    .grafico__inside div {
      font-size: 1.2rem;
      text-transform: uppercase; }
  .grafico__recorte {
    border-radius: 50%;
    position: absolute;
    height: 100%;
    width: 100%; }
  .grafico__quesito {
    border-radius: 50%;
    clip: rect(0px, 200px, 100px, 100px);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #58BFD1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .grafico__container {
    height: 350px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr; }
  .grafico__evolucao {
    display: grid;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto; }
    .grafico__evolucao-nps {
      height: 20px;
      text-align: center; }
  .grafico__dia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .grafico__line {
    background-color: #E7BA28;
    height: 20px;
    text-align: center; }
    .grafico__line:first-child {
      background-color: #F62119;
      width: 70%; }
    .grafico__line:nth-child(2) {
      width: 20%; }
    .grafico__line:nth-child(3) {
      width: 10%;
      background-color: #1FB257; }
  .grafico__span {
    position: absolute;
    right: -30px; }

.text-red {
  color: red; }

.text-size {
  font-size: 8vw; }
  @media (min-width: 568px) {
    .text-size {
      font-size: 4vw; } }

.align-center {
  text-align: center; }

.mt-5 {
  margin-top: 5rem; }

.px-10 {
  padding-left: 5%;
  padding-right: 5%; }

.sucess {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background-color: #1FB257;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem; }

.grid {
  display: grid; }

.grid--gap {
  gap: 2rem; }

.user {
  width: 310px;
  margin: 0 auto; }

.logo {
  height: 100px; }

.texto {
  margin-top: 20vh; }

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 5px rgba(158, 157, 157, 0.7); }

.nps {
  margin: 1rem; }
  @media (min-width: 768px) {
    .nps {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem; } }
  .nps__box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .nps__box {
        min-height: 80vh; } }
  .nps__consulta {
    display: none; }
  .nps__search {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center; }
  .nps__btn {
    width: 100%;
    margin: 0; }
  .nps__content {
    margin-top: 2rem; }

.table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto; }
  @media (max-width: 578px) {
    .table {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }
  .table tr:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .table__line {
    padding: .8rem;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.2); }

.evolucao {
  height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.8);
  overflow: auto; }
  .evolucao__total {
    min-width: 200px;
    height: 200; }
  .evolucao__title {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .evolucao__title--sm {
      font-size: .9rem; }
  .evolucao__guia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2rem; }
    .evolucao__guia--sm {
      margin: 0 .5rem; }
  .evolucao__text {
    margin-right: .5rem; }
    .evolucao__text span {
      height: 10px;
      width: 20px;
      display: inline-block;
      margin-right: .5rem; }
    .evolucao__text--sm {
      margin-right: .3rem;
      font-size: .8rem; }
  .evolucao--bg-detrator {
    background-color: #F62119; }
  .evolucao--bg-passive {
    background-color: #E7BA28; }
  .evolucao--bg-promotor {
    background-color: #1FB257; }
  .evolucao--bg-nps {
    background-color: #808080; }
  .evolucao__inner {
    height: 150px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 25px));
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative; }
    .evolucao__inner--width-flex {
      width: 1000px; }
    .evolucao__inner--nps {
      padding-left: 30px;
      margin-bottom: 1rem; }
    .evolucao__inner--sm {
      height: 130px;
      grid-template-columns: repeat(auto-fit, minmax(20px, 40px));
      padding-bottom: 20px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 10px; }
  .evolucao__grafico {
    margin-bottom: 30px; }
    .evolucao__grafico--nps {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      z-index: 10; }
  .evolucao__data {
    text-align: center;
    font-size: .7rem;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    margin-top: 10px;
    font-weight: bold; }
    .evolucao__data--nps {
      margin-top: 0;
      margin-bottom: 10px; }
  .evolucao__nps-line {
    position: absolute;
    height: 1px;
    top: 0;
    left: 10px;
    right: 5px;
    background-color: rgba(163, 162, 162, 0.6);
    font-size: .7rem; }
    .evolucao__nps-line--75 {
      top: 25%; }
    .evolucao__nps-line--50 {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .evolucao__nps-line--25 {
      bottom: 25%;
      top: unset; }
    .evolucao__nps-line--0 {
      bottom: 0;
      top: unset; }

.notas {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); }
  @media (min-width: 568px) {
    .notas {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
